@font-face {
  font-family: 'Heebo';
  src: url('https://fonts.googleapis.com/css2?family=Heebo:wght@900&display=swap');
}

.OwnerDropDown {
label, input, button {
    margin: auto;
  }
  
  label {
    font-size: 20px;
    font-family: 'Heebo', sans-serif;
  }
  
  header {
    font-size: large;
    font-weight: 100;
  }

  select {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 25px;
    border: 2px solid #e9eaea;
    color: #3e3e40;
    font-size: 16px;
    outline: none;
    transform: all 0.5s ease;
  }
  
  select:focus {
    border: 5px solid magenta;
  }
}
