@font-face {
  font-family: 'Heebo';
  src: url('https://fonts.googleapis.com/css2?family=Heebo:wght@900&display=swap');
}
.footerContainer {
    font-size: small;
    background-color: rgba(17, 15, 15, 0.685);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
    line-height: 2em;
    position: fixed;
    bottom: 0px;
    width: calc(100% - 16px);
  }

  .footerIcon {
    align-items: center;
    height: 40px;
    width: 40px;
    margin-bottom: 80px;
  }
  
  .footerMenu {
    margin-left: auto;
    margin-right: auto;
    padding: 0;
  }
  
  .footerItem {
    margin-left: 33px;
    display: inline-block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px;
    text-decoration: none;
  }
  
  .footerItem:hover {
    cursor: pointer;
    text-decoration: underline;
    color: rgb(255, 255, 255);
  }
  
  .footerItem a:visited {
    text-decoration: none;
    color: rgb(255, 255, 255);
  }
  
  .footerItem a:link {
    color: rgb(255, 255, 255);
    text-decoration: none;
  }
